{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width:800px">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{pic.title}}</h1>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{pic.text}}</small>
            <small class="text-muted">{{pic.created_at}}</small>
        </div>
    </div>
    <p>
        <a href="{% url 'pics:pic-list' %}">All Pictures</a>
    </p>
</div>
{% endblock %}